<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.bbagisix.saving.mapper.SavingMapper">
    <select id="getSavingHistory" parameterType="long" resultType="org.bbagisix.saving.dto.SavingDTO">
        select c.category_id, c.title, uc.period, uc.start_date, uc.end_date, uc.saving
        from user_challenge uc
                 join challenge c on uc.challenge_id = c.challenge_id
        where uc.user_id = #{userId}
          and uc.status = 'closed'
          and uc.period = uc.progress
    </select>
    <select id="getTotalSaving" parameterType="long" resultType="long">
        select balance
        from user_asset
        where user_id = #{userId}
          and status = 'sub'
    </select>
    <insert id="insertSavingLedger" parameterType="long">
        insert into saving_ledger(user_challenge_id, user_id, amount)
        values (#{userChallengeId},#{userId},#{amount})
    </insert>
</mapper>